<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Password Reset Sent</title>
    <link
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
      rel="stylesheet"
    />
  </head>

  <body>
    <div class="container mt-5">
      <h2>Password Reset Sent</h2>
      <p>
        If an account with the provided email address exists, a password reset
        link has been sent to that email.
      </p>
      <a href="{% url 'accounts:login' %}">Back to login</a>
    </div>
  </body>
</html>
