{% extends 'base.html' %}
{% block content %}
{% load static %}


<body class="index-page">



  <main class="main">

    <!-- Services Section -->
    {% include 'website/Services.html' %}

    <!-- /Services Section -->

    <!-- Portfolio Section -->
    {% include 'website/Portfolio.html' %}

    <!-- /Portfolio Section -->

    <!-- Testimonials Section -->
    {% include 'website/Testimonials.html' %}

    <!-- /Testimonials Section -->


    <!-- Team Section -->
    {% include 'website/team.html' %}

    <!-- /Team Section -->

    <!-- Recent Posts Section -->
    {% include 'website/latest_post.html' %}
    <!-- /Recent Posts Section -->



  </main>

  {% endblock %}