{% load static %}
{% load humanize %}
<section id="recent-posts" class="recent-posts section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Recent Posts</h2>
        <p>Recent Blog Posts<br></p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            {% for post in posts %}

            <div class="col-xl-4 col-md-6" data-aos="fade-up" data-aos-delay="100">
                <article>

                    <div class="post-img">
                        <img src="{{ post.image.url }}" alt="" class="img-fluidd">
                    </div>

                    <p class="post-category">{% for cat in post.category.all %}
                        <a href="{% url 'blog:category' cat_name=cat.name  %}">{{cat.name}}</a>
                        {% if not forloop.last %},
                        {% endif %}
                        {% endfor %}
                    </p>

                    <h2 class="title">
                        <a href="{% url 'blog:single' pid=post.id %}">{{post.title}}</a>
                    </h2>

                    <div class="d-flex align-items-center">
                        <img src="{% static 'img/blog/blog-author.jpg' %}" alt=""
                            class="img-fluid post-author-img flex-shrink-0">
                        <div class="post-meta">
                            <a href="{% url 'blog:author' author_username=post.author.username %}"
                                class="post-author">{{post.author.get_full_name}}</a>
                            <p class="post-date">
                                {{post.published_date|naturaltime}}
                            </p>
                        </div>
                    </div>

                </article>
            </div><!-- End post list item -->
            {% endfor %}

        </div><!-- End recent posts list -->

    </div>

</section>