{% load static %}
<section id="team" class="team section">

    <!-- Section Title -->
    <div class="container section-title" data-aos="fade-up">
        <h2>Team</h2>
        <p>Our Hardworking Team</p>
    </div><!-- End Section Title -->

    <div class="container">

        <div class="row gy-4">
            {% for post in posts %}

            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <div class="team-member">
                    <div class="member-img">
                        <img src="{{post.image.url}}" class="img-fluidd" alt="">
                        <div class="social">
                            <a href=""><i class="bi bi-twitter-x"></i></a>
                            <a href=""><i class="bi bi-facebook"></i></a>
                            <a href=""><i class="bi bi-instagram"></i></a>
                            <a href=""><i class="bi bi-linkedin"></i></a>
                        </div>
                    </div>
                    <div class="member-info">
                        <a href="{% url 'blog:author' author_username=post.author.username %}">
                            <h4>{{post.author.get_full_name}}</h4>
                        </a>
                        {% for cat in post.category.all %}
                        <a>{{cat.name}}</a>
                        {% if not forloop.last %},
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
            </div><!-- End Team Member -->
            {% endfor %}

        </div>

    </div>

</section>