{% extends 'base.html' %}
{% block content %}
{% load static %}
{% load humanize %}
{% load blog_tags %}

<body class="blog-details-page">


  <main class="main">

    <!-- Page Title -->
    <div class="page-title dark-background">
      <div class="container position-relative">
        <h1>{{post.title}}</h1>

        <nav class="breadcrumbs">
          <ol>
            <li><a href="{% url 'website:index' %}">Home</a></li>
            <li><a href="{% url 'blog:index' %}">Blog</a></li>
            <li class="current">Blog single</li>
          </ol>
        </nav>
      </div>
    </div><!-- End Page Title -->

    <div class="container">
      <div class="row">

        <div class="col-lg-8">

          <!-- Blog Details Section -->
          <section id="blog-details" class="blog-details section">
            <div class="container">

              <article class="article">

                <div class="post-img">
                  <img src="{{post.image.url}}" alt="" class="img-fluiddd">
                </div>

                <h2 class="title">{{post.title}}</h2>

                <div class="meta-top">
                  <ul>
                    <li class="d-flex align-items-center"><i class="bi bi-person"></i> <a
                        href="#">{{post.author.get_full_name}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-clock"></i> <a href="#">
                        {{post.published_date|naturaltime}}</a></li>
                    <li class="d-flex align-items-center"><i class="bi bi-chat-dots"></i> <a
                        href="#">{{comments|length}} comments</a></li>
                    <li class="d-flex align-items-center">
                      <a href="#">
                        {{post.counted_views}} views</a>
                    </li>

                  </ul>
                </div><!-- End meta top -->

                <div class="content">
                  <p>
                    {{post.content}}
                  </p>


                </div><!-- End post content -->

                <div class="meta-bottom">
                  <i class="bi bi-folder"></i>
                  <ul class="cats">
                    <li><a href="#">Business</a></li>
                  </ul>

                  <i class="bi bi-tags"></i>
                  <ul class="tags">
                    <li><a href="#">Creative</a></li>
                    <li><a href="#">Tips</a></li>
                    <li><a href="#">Marketing</a></li>
                  </ul>
                </div><!-- End meta bottom -->
                <br><br>
                <div class="nav-container">
                  <div
                    class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                    {% if prev_post %}
                    <div class="thumb">
                      <a href="{% url 'blog:single' prev_post.id %}">
                        <img class="img-fluid" src="{{ prev_post.image.url }}" alt="{{ prev_post.title }}" />
                      </a>
                    </div>
                    <div class="details">
                      <a href="{% url 'blog:single' prev_post.id %}">
                        &laquo; Previous: {{ prev_post.title }}
                      </a>
                    </div>
                    {% endif %}
                  </div>
                  <div
                    class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                    {% if next_post %}
                    <div class="details">
                      <a href="{% url 'blog:single' next_post.id %}">
                        Next: {{ next_post.title }} &raquo;
                      </a>
                    </div>
                    <div class="thumb">
                      <a href="{% url 'blog:single' next_post.id %}">
                        <img class="img-fluid" src="{{ next_post.image.url }}" alt="{{ next_post.title }}" />
                      </a>
                    </div>
                    {% endif %}
                  </div>
                </div>


              </article>

            </div>
          </section><!-- /Blog Details Section -->

          <!-- Blog Comments Section -->
          <section id="blog-comments" class="blog-comments section">

            <div class="container">

              <h4 class="comments-count">{{comments|length}} comments</h4>
              {% for comment in comments %}
              <div id="comment-1" class="comment">
                <div class="d-flex">
                  <div class="comment-img"><img src="{% static 'img/blog/comments-1.jpg' %}" alt=""></div>
                  <div>
                    <h5><a href="#">{{comment.name}}</a>
                      <p>{{comment.created_date|naturaltime}}</p>
                      <p>
                        {{comment.message}}
                      </p>
                  </div>

                </div>
              </div>
              {% empty %}
              <p>No comments here. Be the first to share your thoughts!</p>
              {% endfor %}<!-- End comment #1 -->

            </div>

          </section><!-- /Blog Comments Section -->

          <!-- Comment Form Section -->
          <section id="comment-form" class="comment-form section">
            <div class="container">
              {% if not request.user.is_authenticated %}
              <h3>If you want to share your comment, <a
                  href="{% url 'accounts:login' %}?next={% url 'blog:single' pid=post.id %}">Login</a></h3>
              {% else %}
              <form action="{% url 'blog:single' pid=post.id %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="post" value="{{ post.id }}">

                <h4>Post Comment</h4>
                <p>Your email address will not be published. Required fields are marked * </p>

                <input type="hidden" name="name" value="{{ request.user.first_name }}">
                <input type="hidden" name="email" value="{{ request.user.email }}">

                <div class="row">
                  <div class="col form-group">
                    <input name="subject" type="text" class="form-control" placeholder="Your subject">
                  </div>
                </div>
                <div class="row">
                  <div class="col form-group">
                    <textarea name="message" class="form-control" placeholder="Your message"></textarea>
                  </div>
                </div>

                <div class="text-center">
                  <button type="submit" class="btn btn-primary">Post Comment</button>
                </div>
              </form>
              {% endif %}
            </div>
          </section><!-- /Comment Form Section -->

          <!-- /Comment Form Section -->



        </div>

        <div class="col-lg-4 sidebar">

          <div class="widgets-container">
            <!-- Search Widget -->
            <!--/Search Widget -->

            <!-- Blog Author Widget -->
            {% include 'blog/blog-author.html' %}
            <!--/Blog Author Widget -->

            <!-- Categories Widget -->
            {% postcategories %}

            <!--/Categories Widget -->

            <!-- Recent Posts Widget -->
            {% latestpost %}

            <!--/Recent Posts Widget -->

            <!-- Tags Widget -->
            {% include 'blog/blog-tags.html' %}

            <!--/Tags Widget -->

          </div>

        </div>

      </div>
    </div>

  </main>

  {% endblock %}